
@import url(variables.css);

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#home-top-grid{

    max-width: var(--width--elements--page);
    min-width: 10rem;
   
    


    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));


    gap: var(--gap--home-top-grid);
    
}




/*left article ///////////////////////////////////////////////////////////*/

#home-top-grid-left-flexbox{
    grid-column: 1 / 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-left: var(--border);
    border-right: var(--border);
    
    
}

.home-top-grid-left-flexbox-article{
    display: flex;
    flex-direction: column;
    

    padding-left: var(--padding--home-top-flexbox-left-article-left);
    padding-right: var(--padding--home-top-flexbox-left-article-right);

}

.home-top-grid-left-flexbox-article p:first-child{
 

    font-size: var(--font--size--xxs);
    text-decoration: underline;
    font-weight: bold;
}

.home-top-grid-left-flexbox-article h3{
    font-size: var(--font--size--sm);
}

.home-top-grid-left-flexbox-article h3 + p{
    font-size: var(--font--size--xs);
}

.home-top-grid-left-flexbox-article p:last-child{
    font-size: var(--font--size--xs);
}


/*left article end ////////////////////////////////////////////////////////*/

/*cente rarticle */



#home-top-grid-center-flexbox{

    grid-column: 2 / 5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#home-top-grid-center-flexbox img {
    
    width: 90%;
    
}

#home-top-grid-center-flexbox p:first-of-type{
    position: absolute;
    margin-top: 300px;

    font-size: var(--font--size--subrayade);
    background-color: var(--white);
    text-decoration: underline;
    text-decoration-style: double;
}

#home-top-grid-center-flexbox h3{
    margin-top: 20px;
    font-size: var(--font--size--tittle);


}

#home-top-grid-center-flexbox p:nth-of-type(2){
    width: 80%;
}

#home-top-grid-center-flexbox:last-child{
    margin-top: 10px;
}






/*center article end ////////////////////////////////////////////////////////*/



#home-top-gird-right-flexbox{
    grid-column: 5 / 5;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


#home-top-gird-right-flexbox div:last-of-type{
    border-top: var(--border);
    margin-top: var(--margin-right-flexbox);
    padding-top: var(--margin-right-flexbox);
   
}

#home-top-gird-right-flexbox img {
    width: 100%;
}

#home-top-gird-right-flexbox p:first-of-type{
    margin-top: var(--margin--articles);
    margin-bottom: var(--margin--articles);

    font-weight: bold;
    text-decoration: underline;
    font-size: var(--font--size--xs);
}

#home-top-gird-right-flexbox h3{
    font-size: var(--font--size--m);
  
}

#home-top-gird-right-flexbox p:last-child{
    font-size: var(--font--size--xs);
    margin-top: 5px;
}



@media (max-width: 768px){
 
 
    
    #home-top-grid{

        max-width:100%;
        margin-left: 10px;
        margin-right: 10px;

    
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "dos"
                             "tres"
                             "uno";
        

    
       
    }


    /* flex primero */ 
    #home-top-grid-center-flexbox{
        border-bottom: var(--border);
        grid-area: dos;
        justify-content: flex-start;
    }
    /*fin flex primero //////////////////////////////////////////////////////////////////////////////////////////// */


        
    /*flex segundo */

        #home-top-gird-right-flexbox{
            border-bottom: var(--border);
        grid-area: tres;

        }

    /* fin flex segundo*/


        /*flex tercero */


        #home-top-grid-left-flexbox{
            gap: 10px;
            grid-area: uno;
            justify-content: flex-start;
            border: 0px solid black;
            
        }

        .home-top-grid-left-flexbox-article{
            padding-top: 1vh;
            border-bottom: var(--border);
        }
    /* finflex tercero //////////////////////////////////////////////////////////////////////////////////////*/

}